/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
a:link {
    color: rgb(173, 173, 173);
}
a:visited{
    color:rgb(173, 173, 173);
}
/*GENERAL*/

/*NAVIGATION BAR*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian', monospace;
}
body{
    background:#332e33;
}

/* Dark mode styles */
.darkmode {
    background-color: #332e33;
    color: #fff;
  }
  
  .darkmode a {
    color: #00bfff;
  }
  
  /* Light mode styles */
  .lightmode {
    background-color: #fff;
    color: #222;
  }
  
  .lightmode a {
    color: #00bfff;
  }
  

.navigation{
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 80px;
    background: #2b272b;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation.open{
    width: 250px;
}
.navigation .menuToggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 23px;
}
.navigation .menuToggle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #413b41;
    transform: translateY(-8px);
    transition: 0.5s;
}
.navigation.open .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #413b41;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #413b41;
}
.navigation .mTitle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 23px;
}
.navigation.mTitle .menuToggle::after{
    content:'LimePotato';
}
.navigation.open .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #413b41;
}
.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%
}
.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}
.navigation ul li.active{
    transform: translateX(30px)
}
.navigation.open ul li.active{
    transform: translateX(10px)
}
.navigation ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 05.s;
    border-radius: 10px;
    font-size: 1.75em;
    color: rgb(90, 90, 90);
}
.navigation ul li.active a .icon{
    color: #fff;
    background: var(--clr);
}
.navigation ul li a .icon::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}
.navigation ul li.active a .icon::before{
    opacity: 0.5;
}
.navigation ul li a .text{
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(173, 173, 173);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navigation.open ul li a .text{
    opacity: 1;
    visibility: visible;
}
.navigation ul li.active a .text{
    color: var(--clr);
}
/*NAVIGATION BAR*/

/*PAGE CONTENT*/
.content{
    color: rgb(173, 173, 173);
    text-align: center;
    padding-top: 60px;
}
.content .icon{
    display: block;
    min-width: 55px;
    height: 55px;
    transition: 05.s;
    border-radius: 10px;
    font-size: 2.75em;

}
.content .text{
    height: 60px;
    align-items: center;
    color: rgb(173, 173, 173);
    opacity: 0;
    visibility: visible;
    transition: 0.5s;
    padding-left: 500px;
}
.content.text a:link{
    visibility: hidden;
}
/*PAGE CONTENT*/


/*AWFUL FUCKING GALLERY BULLSHIT FUCK FUCK FUCK FUCK FUCK FUCK*/
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    padding-left: 280px;
}
.gallery__img {
    width: 200%;
    height: 100%;
    object-fit: cover;

}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
/*AWFUL FUCKING GALLERY BULLSHIT FUCK FUCK FUCK FUCK FUCK FUCK*/
